
.container{
    width: 600px;
    height: 600px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    top: 50%;
    translate:-50% -50%;
    
    gap : 10px;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;

    > div{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 150px;
        background-color: dodgerblue;
    }

}















